#SPDX-License-Identifier: MIT-0
---
# handlers file for deploy-website
- name: start nginx
  ansible.builtin.service:
      name: nginx
      state: started
      
- name: restarted nginx 
  ansible.builtin.service:
      name: nginx
      state: reloaded

- name: start httpd
  ansible.builtin.service:
      name: httpd
      state: started
      
- name: restarted httpd 
  ansible.builtin.service:
      name: httpd
      state: reloaded