- name: install htop
  hosts: servers
  become: true
  

  vars:
   install_pakages_ubuntu:
      - nano
      - htop
      - wget
      - curl
      - nginx
      - ufw
      
  install_pakages_readhat:
      - nano
      - wget
      - curl
      - httpd  

  tasks:



# install pakages
##################################################################
    - name: Install pakages
      ansible.builtin.apt:
        name: "{{ install_pakages_ubuntu }}"
        state: present
      when: ansible_facts['os_family'] == 'Debian'
      register: apt_update_result
      notify:
        - start nginx 
        
    - name: Install pakage RedHat 
      ansible.builtin.yum:
        name: "{{ install_pakages_readhat }}"
        state:  present
      when: ansible_facts['os_family'] == 'RedHat'
      notify:
        - start httpd

# Copy file configurations
##################################################################

    - name: COPY files
      ansible.builtin.copy:
        src: /home/anahur/Ansbile/html5up-multiverse
        dest: /tmp
        owner: root
        group: root
        mode: '0777'
      notify:
        - restarted nginx 
      when: ansible_facts['os_family'] == 'Debian'


    - name: COPY files Centos
      ansible.builtin.copy:
        src: /home/anahur/Ansbile/html5up-multiverse
        dest: /tmp
        owner: root
        group: root
        mode: '0777'
      notify:
        -  restarted httpd 
      when: ansible_facts['os_family'] == 'RedHat'

    - name: Debug and print outputs
      ansible.builtin.debug:
        var: ansible_facts['os_family']

    - name: run script for move the websites
      ansible.builtin.script: website-handel.sh

  handlers:
    - name: start nginx
      ansible.builtin.service:
         name: nginx
         state: started
         
    - name: restarted nginx 
      ansible.builtin.service:
         name: nginx
         state: reloaded

    - name: start httpd
      ansible.builtin.service:
         name: httpd
         state: started
         
    - name: restarted httpd 
      ansible.builtin.service:
         name: httpd
         state: reloaded


# - name: Deploy website content
#   hosts: all
#   become: true
#   tasks:
#     - name: Remove default index.html
#       file:
#         path: /var/www/html/index.html
#         state: absent
    
#     - name: Extract html5up-multiverse to temp location
#       unarchive:
#         src: /path/to/html5up-multiverse.zip
#         dest: /tmp/
#         remote_src: yes
    
#     - name: Synchronize files to web root
#       synchronize:
#         src: /tmp/html5up-multiverse/
#         dest: /var/www/html/
#         delete: yes
#       delegate_to: "{{ inventory_hostname }}"
    
#     - name: Clean up temp directory
#       file:
#         path: /tmp/html5up-multiverse
#         state: absent
    
#     - name: Set correct permissions
#       file:
#         path: /var/www/html
#         owner: www-data  # or apache for CentOS
#         group: www-data  # or apache for CentOS
#         recurse: yes
