#SPDX-License-Identifier: MIT-0
---
# defaults file for deploy-website

install_pakages_ubuntu:
    - nano
    - htop
    - wget
    - curl
    - nginx
    - ufw
    
install_pakages_readhat:
    - nano
    - wget
    - curl
    - httpd 