#SPDX-License-Identifier: MIT-0
---
# tasks file for web-server
- name: Install pakages
  ansible.builtin.apt:
    name: "{{ install_pakages_ubuntu }}"
    state: present
  when: ansible_facts['os_family'] == 'Debian'
  register: apt_update_result
  notify:
    - start nginx 
    
- name: Install pakage RedHat 
  ansible.builtin.yum:
    name: "{{ install_pakages_readhat }}"
    state:  present
  when: ansible_facts['os_family'] == 'RedHat'
  notify:
    - start httpd

# Copy file configurations
##################################################################

- name: COPY files
  ansible.builtin.copy:
    src: "{{ website_path  }}"
    dest: /tmp
    owner: root
    group: root
    mode: '0777'
  notify:
    - restarted nginx 
  when: ansible_facts['os_family'] == 'Debian'


- name: COPY files Centos
  ansible.builtin.copy:
    src: "{{ website_path  }}"
    dest: /tmp
    owner: root
    group: root
    mode: '0777'
  notify:
    -  restarted httpd 
  when: ansible_facts['os_family'] == 'RedHat'

- name: Debug and print outputs
  ansible.builtin.debug:
    var: ansible_facts['os_family']

- name: run script for move the websites
  ansible.builtin.script: files/scripts/website-handel.sh